<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>

<%= form_for(:session, url: sessions_path) do %>

  Username: <%= text_field_tag :username %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>
<h1>TEST</h1>
<!-- <% link_to "Sign Up", new_user_path %> -->
<p><%= link_to "Sign Up", new_user_path, :class => 'button' %></p>
