<div class="container">
  <h1>REdit Comment</h1>

  <h3>
    <strong>Current Comment |</strong>
  </h3>
  <p><%= @comment.content %></p>

  <%= form_for [@post, @comment] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content, :class => 'u-full-width' %>
  <%= f.submit 'Submit', :class => 'button-primary' %>
  <% end %>
</div>
