<div class="container">
  <h1>SubrEdit</h1>

  <h3>
    <strong>Current Title:</strong>
    <%= @subreddit.title %>
  </h3>

  <%= form_for(@subreddit) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'u-full-width' %>
  <%= f.submit 'Update', :class => 'button-primary' %>
  <% end %>
</div>
