<div class="container">
  <div class="row">
    <h1 class="eight columns">
      <strong>Subreddit | </strong>
      <%= @subreddit.title %>
    </h1>

    <%= link_to "Create a Post", new_subreddit_post_path(@subreddit), :class => 'button button-primary' %>
  </div>

  <% @subreddit.posts.each do |post| %>
  <!-- <h2><%= post.title %></h2> -->
  <div class="row">
    <h3 class="eight columns"><%= link_to post.title, post_path(post) %></h3>
    <%= link_to "Edit post", edit_subreddit_post_path(@subreddit, post), :class => 'button' %>
    <%= link_to "Delete post", subreddit_post_path(@subreddit, post), method: :delete, data: {confirm: 'Are you sure?'}, remote: true, :class => 'button' %>
    <p class="twelve columns"><%= post.body %></p>
  </div>
  <% end %>

  <br>

  <%= link_to "All Subreddits", subreddits_path, :class => 'button' %>
</div>
